body,html{
  height:100%;
background-color: #000;
}
.fs{
    align-self: flex-start;
    
}
.fs{
    align-self: flex-end;
}
.item{

  background-color: rgba(125,125,125,0.5);
  padding:80px;
  border-radius: 10%;
}
.section{
    top:50vh;
  z-index: 3;
  position: relative;
  width: 80%;
  height: 100%;

left: 20vh;
display: flex;
    flex-direction: column;
flex-wrap: nowrap;

flex-basis: 100%;
flex-flow: column;

}
a>img{
    height: 8vh;
  
}

/*

section {
opacity: 0;
right:30vh;    
transition: all 1s ease-in;
}

section.visible { 
opacity: 1;
  right:0vh;
}
*/

#content1{
     background-color: rgba(204,255,0,0.8);
  transition: 1s ;
}
#content2{
     background-color: rgba(0,255,255,0.8);
}
#content3{
     background-color: rgba(204,0,255,0.8);
}
#content4{
     background-color: rgba(255,204,0,0.8);
}
.jumbotron{
    background-color: rgba(125,125,125,0.5);
    width: 32%;
}
#myVideo{

  position: fixed;
  z-index: 1;
  
 
  height: 100vh;
  width: 100%;

}
.logo{
    display: none;
     position: absolute;
    width: 100%;
    left:13vh;
    top:53vh;
    height: 100%;
    background-repeat: no-repeat;
     z-index: 3;
    background-image:  url("../img/Blue.png");
}

.bg{
  z-index: 2;
  width: 100%;
  height: 200%;
  position: absolute;
  right: 1%; 
  background-position: center;
background-origin:content-box;

       background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
background-image:  url("../img/bc.png");

 /*   animation:1s backfade forwards;*/
    transition: background-size 500ms ease-in;
}
.navbar{
  margin-top: 0;
  background-color: rgba(0,0,0,0.6);
}
.fixed-top.scrolled {
  background-color: rgba(2,22,42,0.8);
  transition: background-color 200ms linear;
}
.flx1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;

  width:100%;
flex-basis: 100%;
}
#navb{
  flex:4 1 75%;
}


.main{
z-index: 4;
  position: relative;
   justify-content: center;
  text-align: center;
height: 100%;
}

.main h1{
    font: bold 60px "Open Sans", sans-serif;
 

  
}
.main h3{
    font: normal 28px "Open Sans", sans-serif;
   
}
.main a.btn{
    padding: 20px 46px;
}
.main-content{
 
    /*animation: 1s slidefade 1s forwards;*/
}
.main h1{
    font: bold 60px "Open Sans", sans-serif;
  -webkit-text-stroke: 1px navy;
   color: #006994;
   text-shadow:
       3px 3px 0 #222,
     -1px -1px 0 #222,  
      1px -1px 0 #222,
      -1px 1px 0 #222,
       1px 1px 0 #222;

  
}
.main h2{
    font: normal 35px "Open Sans", sans-serif;
     -webkit-text-stroke: 1px navy;
   color: #006994;
   text-shadow:
       3px 3px 0 #222,
     -1px -1px 0 #222,  
      1px -1px 0 #222,
      -1px 1px 0 #222,
       1px 1px 0 #222;
   
}
h1{
  color:white;
}
#h1{
  opacity:0;
  animation: 1s slidefade 1s forwards;

}
#h3{
  opacity:0;
  animation: 1s slidef 1s forwards; 
}
@keyframes slidefade{
    0%{
      opacity:0;
      transform: translateY(500px);
    }
    100%{
        opacity: 1;
       transform: translateY(240px);
    }
}
@keyframes slidef{
  0%{
    opacity:0;
      transform: translateY(0px);
  }
    100%{
        opacity: 1;
     transform: translateY(250px);
    }
}
/*@keyframes backfade{
  0%{
    opacity:0;
    color:#fff;
  }
  50%{
    opacity: 0.75;
    
    background-image: url("../img/bc.jpg");
  }
  95%{
    color:#fff;
  }
  100%{
    opacity: 1;
    color:#111;
    background-image:  url("../img/bc.jpg");
    
  }
}*/
#n3{
    color:yellow:
}
.btn{
    margin: auto 2vh;
}